venv/
instance/**/*
__pycache__/
static/**/*
!static/fonts/
!static/fonts/*.ttf
!static/fonts/*.otf
!static/fonts/*.ttc
!static/js/
!static/js/*.js
!static/css/
!static/css/*.css
!static/logo.png
*.pyc
*.sqlite3
instance/
*.db
migrations/versions/
migrations/
images/
images/**/*
*.DB_STORE
*.DB_STORE
.DS_Store
.idea/
.vscode/
*.log
*.pot
flask.log
flask.pid
.env
